.company-image {
    width: 100%;
}

.team-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.match-card {
    height: 15vh;
    width: 90vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.match-team {
    text-align: center;
}

.score-away {
    text-align: right;
}

.score-home {
    text-align: left;
}

.time {
    justify-content: center;
}

